* {
  width: 0;
  height: 0;
}

body {
  background-image: url(images/bdd.png);
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  margin-left: 37%;
  font-size: 50px;
}

/*fieldset
{
	margin-top: 10%;
	margin-left: 27%;
	width: 50%;
	border: 7px wheat solid;
	padding-top: 90px;
    padding-bottom: 90px;	

}

legend
{
	font-size: 70px;
	color: whitesmoke;
}*/
